# https://stackoverflow.com/questions/37585758/how-to-redirect-output-of-systemd-service-to-a-file
[Unit]
 Description=APImonitor
 After=multi-user.target

[Service]
#Type=oneshot
 Type=simple
#ExecStart=/home/pi/rasp_scripts/api_monitor.sh >> /home/pi/api_monitor.log 2>&1  &
 WorkingDirectory=/mnt/usb/KrakenAPI/
 Environment=PYTHONPATH=:/home/pi/scriptbelt/python:/home/pi/humanroot/utils/PyLHEanalysis::/home/pi/scriptbelt/python:/home/pi/humanroot/utils/PyLHEanalysis::/home/pi/scriptbelt/python:/home/pi/humanroot/utils/PyLHEanalysis:
 ExecStart=/home/pi/bin/python3.7   api_fetch_scheduler.py  
 StandardOutput=syslog
 StandardError=syslog
 SyslogIdentifier=APImonitor
 Restart=always
 RestartSec=20

[Install]
 WantedBy=multi-user.target
